<div class="content">
  <div class="bola" >
    <div   class="bola2" >
      <ion-icon  name="close-circle-outline"  color="danger" ></ion-icon>
    </div>
</div>
<div style="height: 5px;"></div>
<div style="margin-top: 10px; width: 75% !important; margin:auto !important">
        <p>{{mensaje}}</p>
  </div>
  <div class="fna-div-button">
          <div style="margin-top: 15px;"> 

          <ion-button  expand="block" fill="outline" color="danger" class="align-bottom" shape="round" 
          (click)="cerrar()">Aceptar</ion-button>
          

        </div>
        
 </div>
 <div style="height: 50px;"></div>
</div>