<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>
      Hola, {{nameUsuario}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div *ngIf="productos==undefined" id="container">
      No se encontraron productos. <br>Para crear un producto da click <b (click)="crarProducto()">Aquí</b>  
  </div>
  <div *ngIf="productos!=undefined">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Productos</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let producto of productos">
        <ion-label>
          <ion-row>
            
          </ion-row>
            <p *ngIf="producto.tipo==1"><b>Cuenta de Ahorros</b></p>
            <p *ngIf="producto.tipo==2"><b>Cuenta de Corriente</b></p>
            <p style="font-size:12px;">Número {{producto.numero}} | Saldo ${{producto.saldo | number}}</p>
         
        </ion-label>
        <ion-button slot="end" color="dark" (click)="movimientos(producto.numero)">Movimientos</ion-button>
      </ion-item>
    </ion-item-group>

  </div>
</ion-content>
